:root {
  --background: #1F1F1F;
  --border-color: #cb2557;
  --border-thickness: 0.5px;

  --box-red-color: #BA7363;
  --box-yellow-color: #DBB28C;
  --box-blue-color: #4A7A8E;
}

body {
  margin: 0;
  min-block-size: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#demo {
  inline-size: 652px;
  block-size: 638px;
  background-color: var(--background);
  border: var(--border-thickness) solid var(--border-color);

  [class*="layout-"] {
    display: flex;
  }

  .layout-row {
    flex-direction: row;
  }

  .layout-column {
    flex-direction: column;
  }

  .box {
    --size: 100px;
    --radius: 6px;

    margin: 0;
    block-size: var(--size);
    inline-size: var(--size);
    border-radius: var(--radius);

    &[data-color="red"] {
      background: var(--box-red-color);
    }

    &[data-color="yellow"] {
      background: var(--box-yellow-color);
    }

    &[data-color="blue"] {
      background: var(--box-blue-color);
    }
  }
}